<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mylog.common.licence.mapper.UserMapper">
    <resultMap id="systemUserMap" type="com.mylog.common.licence.entity.User">
        <id column="id" property="id"/>
        <result column="usergroup" property="usergroup"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="mail" property="mail"/>
        <result column="gender" property="gender"/>
        <result column="realname" property="realname"/>
        <result column="cn_id" property="cnId"/>
        <result column="description" property="description"/>
    </resultMap>

    <sql id="TableField">
        id, user_name, user_phone, user_password, user_group, created_at, updated_at, del_flag
    </sql>

    <sql id="TableName">
        user
    </sql>

    <select id="selectUserList" resultMap="systemUserMap">
        SELECT
            <include refid="TableField" />
        FROM
            <include refid="TableName" />
        limit #{startNo}, #{pageSize}
    </select>

    <select id="selectUserTotal" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM
            <include refid="TableName" />
        WHERE del_flag = 0
    </select>
</mapper>