<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mylog.business.chat.dal.mapper.MsgRecordMapper">

    <resultMap type="com.mylog.business.chat.dal.entity.MsgRecordEntity" id="MsgRecordMap">
        <result property="msgId" column="msg_id" jdbcType="BIGINT"/>
        <result property="fromId" column="from_id" jdbcType="INTEGER"/>
        <result property="toId" column="to_id" jdbcType="INTEGER"/>
        <result property="msgContent" column="msg_content" jdbcType="VARCHAR"/>
        <result property="msgHash" column="msg_hash" jdbcType="VARCHAR"/>
        <result property="msgTimestamp" column="msg_timestamp" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Columns">
        msg_id
        ,from_id,to_id,msg_content,msg_hash,msg_timestamp,del_flag
    </sql>

    <sql id="Table_Name">
        msg_record
    </sql>

    <select id="queryMsgRecords" resultType="com.mylog.business.chat.dal.entity.MsgRecordEntity">
        select
        <include refid="Base_Columns"/>
        from
        <include refid="Table_Name"/>
        <if test="partition != null and partition != ''">
            PARTITION (${partition})
        </if>
        where del_flag = 0
        <if test="fromId != null">
            and `from_id` = #{fromId}
        </if>
        <if test="toId != null">
            and `to_id` = #{toId}
        </if>
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            INSERT INTO
            <include refid="Table_Name"/>(
            del_flag
            <if test="item.fromId != null">, from_id</if>
            <if test="item.toId != null">, to_id</if>
            <if test="item.msgContent != null">, msg_content</if>
            <if test="item.msgHash != null">, msg_hash</if>
            )
            VALUES (
            0
            <if test="item.fromId != null">, #{item.fromId}</if>
            <if test="item.toId != null">, #{item.toId}</if>
            <if test="item.msgContent != null">, #{item.msgContent}</if>
            <if test="item.msgHash != null">, #{item.msgHash}</if>
            )
        </foreach>
    </insert>

</mapper>