<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mylog.ds.demo4ys.mapper.RelationMapper">

    <resultMap type="com.mylog.ds.blog.entity.Article" id="ArticleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="subject" column="subject" jdbcType="VARCHAR"/>
        <result property="object" column="object" jdbcType="VARCHAR"/>
        <result property="relationship" column="relationship" jdbcType="INTEGER"/>
    </resultMap>



</mapper>